// COLORS
$color_standard: #3E4D6E;
$color_standard-fg-hover: rgba(255, 255, 255, 0.8);
$color_standard-bg-hover: rgba(62, 77, 110, 0.8);

$color_blue8: #044B79;
$color_blue6: #12649a;
$color_blue5: #0D76BA;
$color_blue4: #337ab7;
$color_blue3: #7dd5ff;

$color_blue4_fg: #FFF;


$color_silver: rgb(231, 231, 231);
$color_silver_fg: #777;


$color_green7: #045d00;
$color_green5: #5cb85c;
$color_green3: #53ce53;

$color_yellow3: #FFF68F;