@mixin item-site() {
    color: #FFF;
    background-color: #3E4D6E;
    
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    
    background-image: -webkit-linear-gradient(top,#3E4D6E 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#3E4D6E 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3E4D6E),to(#265a88));
    background-image: linear-gradient(to bottom,#3E4D6E 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3E4D6E', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}

@mixin item-blue() {
    color: #FFF;
    background-color: #337ab7;
    
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    
    background-image: -webkit-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#265a88 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#337ab7),to(#265a88));
    background-image: linear-gradient(to bottom,#337ab7 0,#265a88 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff265a88', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #245580;
}

@mixin item-red() {
    color: #FFF;
    background-color: #d9534f;
    
    text-shadow: 0 -1px 0 rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.075);
    
    background-image: -webkit-linear-gradient(top,#d9534f 0,#c12e2a 100%);
    background-image: -o-linear-gradient(top,#d9534f 0,#c12e2a 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#d9534f),to(#c12e2a));
    background-image: linear-gradient(to bottom,#d9534f 0,#c12e2a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    border-color: #b92c28;
}

@mixin line-item-icon() {
    width: 56px;
    color: #FFF;
    text-align: center;
}