@import 'colors';
@import 'mixins';
@import 'nav';

body {
    /* Required for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    padding-top: 75px;
    font-size: 15px;
    font-family: "Helvetica Neue", "Segoe UI", 'Open Sans', Roboto, Arial, sans-serif
}

form {
    margin: 0;
    padding: 0;
}

.container-fluid {
    max-width: 970px;
}

.page-header {
    margin-top: 1em;
    
    .btn {
        margin-right: 4px;
        margin-left: 4px;
    }
    
    .btn:first-child {
        margin-right: 0px;
    }
    
    .btn:last-child {
        margin-left: 18px;
    }
}


//////////////////////////////////////////
// HEADERS
//////////////////////////////////////////
h1, h2, h3, h4 {
    font-weight: 300;
}

.page-header {
    h1 {
        margin: 0;
        font-size: 2.1em;
        //color: $color_blue4;
    }

    h2 {
        margin: 0;
        margin-top: 3px;
        font-size: 1.4em;
        //font-weight: 300;
        letter-spacing: 2px;
        //text-transform: uppercase;
        color: #848484;
    }

    a {
        text-decoration: none;
    }
}

.subsection {
    background: $color_silver;
    padding: 6px 10px;
    margin-bottom: 8px;
    color: $color_silver_fg;
    font-weight: 700;
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}



//////////////////////////////////////////
// FOOTER
//////////////////////////////////////////
footer {
    .wrapper {
        padding-top: 2rem;
        margin: 20px 0 40px;
        border-top: 1px solid #eee;
    }
    
    .bottom {
        margin-top: 5rem;
    }
    
    p {
        font-size: 1.2rem;
        color: #888;
    }
}


//////////////////////////////////////////
// NAVBARS
//////////////////////////////////////////
#topMenu {
    //box-shadow: 0px 3px 1px rgba(0,0,0,.10);
    padding-top: 5px;
    font-size: 1.06em;
    font-weight: 300;
    height: 60px;
}

.navbar-brand img {
    width: 55px;
    margin-top: -25px;
}

.navbar-nav {
    .glyphicon {
        margin-right: 5px;
    }
}


//////////////////////////////////////////
// COLUMNS AND ROWS
//////////////////////////////////////////
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}



@media (max-width: 750px) {
    .reduced-gutter > [class*='col-'] {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (min-width: 750px) {
    .reduced-gutter > [class*='col-'] {
        padding-left: 8px;
        padding-right: 8px;
    }

    .reduced-gutter > [class*='col-']:first-child {
        padding-left: 15px;
    }

    .reduced-gutter > [class*='col-']:last-child {
        padding-right: 15px;
    }
}


//////////////////////////////////////////
// RESULTSET FILTERS
//////////////////////////////////////////
.resultset-filters {
    margin-bottom: 20px;
}
.resultset-filters .nav-pills li a {
    padding: 3px 4px 3px 3px;
}


//////////////////////////////////////////
// TABLES
//////////////////////////////////////////
.table td:last-child, .table th:last-child {
    text-align: center;
}


//////////////////////////////////////////
// JUMBOTRON
//////////////////////////////////////////
.jumbotron {
    margin-top: 15px;
}


//////////////////////////////////////////
// QUICK LINK CARDS
//////////////////////////////////////////
.card__quick-link {
    
    .glyphicon {
        float: left;
        font-size: 5rem;
        
    }
    
    .glyphicon-plus {
        margin: 1rem 1.5rem 0rem 0.5rem;
    }
    
    .glyphicon-list {
        margin: 1rem 1.8rem 0rem 0.5rem;
    }
}

//////////////////////////////////////////
// CARDS
//////////////////////////////////////////
@media (min-width: 768px) {
    .card-deck {
        display: table;
        width: 100%;
        margin-bottom: .75rem;
        table-layout: fixed;
        border-spacing: 1.25rem 0;
    }

    .card-deck .card {
        display: table-cell;
        margin-bottom: 0;
        vertical-align: top;
    }
}

.card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    display: block;
    
    &__quick-link {
        color: #FFF;
        
        &:hover, &:focus {
            color: #FFF;
            text-decoration: none;
        }
        
        &__subtitle {
            
        }
    }
    
    &__card-title {
        font-size: 2.3rem;
    }
    
    &__card-subtitle {
        font-size: 1.8rem;
    }
}

.card-block {
    padding: 1.25rem;
}

.card-img-top {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
}


//////////////////////////////////////////
// Data Lists
//////////////////////////////////////////
dl {
    margin-top: 1em;
}

dd {
    margin-bottom: 0.7em;
}

ul h3 {
    margin-left: -16px;

    strong {
        font-weight: 500;
    }
}

ul li {
    margin-bottom: 6px;
}

ul.filterList {
    list-style: none;
    padding: 0;
    margin: 0px 0px 10px 0px;

    li {
        display: inline;
        padding: 8px 10px;
        margin-right: 10px;
        background: $color_yellow3;
        border-radius: 5px;
    }
}


//////////////////////////////////////////
// Notifications
//////////////////////////////////////////
.notice {
    padding: 10px 20px;
    border-radius: .5rem;

    &-red {
        @extend .notice;
        background: #B82601;
        color: #f7d8d8;
    }
}

.alert-bold {
    font-size: 1.6em;
}

.spoof {
    padding: 10px;
    background: #DF6C68;
    font-size: 1.3em;
    text-align: center;

    a {
        color: #FFF;
    }
}


//////////////////////////////////////////
// BUTTONS
//////////////////////////////////////////

.btn-square {
    border-radius: 0px;
}

.btn-site {
    /*background: $color_standard;
    color: #FFF;*/
    @include item-site;

    &:hover {
        background: #265a88;
        color: #FFF;
    }
}
